@import url("./defaults.css");
@import url("./vars.css");

/* CSS local */

#header {
    display: flex;
    flex-shrink: 0;
    height: 90px;
    background-color: var(--primary-color-1);
    border-bottom: var(--border);
    align-items: center;
}

#root-content {
    display: flex;
    flex: 1;
    background-color: var(--primary-color-1);
    box-sizing: border-box;
}

.header-search-container {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search-container > input {
    margin-inline: var(--padding-short);
    flex: 1;
    max-width: 800px;
}

.chat-option {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: var(--primary-color-2);
    border: var(--border);
    position: relative;
    box-sizing: border-box;
    padding: var(--padding-short);
    border-radius: var(--border-radius);
    max-width: 800px;
    cursor: pointer;
    transition: var(--transition-background), var(--transition-border);
    user-select: none;
}

.chat-option:hover {
    background-color: var(--border-color);
    border-color: var(--secondary-color-1);
}

.chat-option-image {
    height: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.chat-option-image>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat-option-image>.chat-option-status {
    width: 20%;
    background-color: rgb(0, 255, 0);
    border: 5px var(--primary-color-2) solid;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.chat-option-username {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: var(--padding-short);
}

.button-icon {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0px;
    outline: none;
    transition: var(--transition-background);
    border: 0;
    cursor: pointer;
}

.button-icon[color="dark"] {
    background-color: var(--primary-color-1);
}

.button-icon[color="darkgray"] {
    background-color: var(--primary-color-2);
}

.button-icon .mso {
    font-size: 2.5rem;
}

.button-icon:hover[color="dark"] {
    background-color: var(--primary-color-2);
}

.button-icon:hover[color="darkgray"] {
    background-color: var(--border-color);
}

.header-title {
    font-size: var(--font-size-medium);
    margin-left: var(--padding-short);
}

.menu-option {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    align-items: center;
    width: 100%;
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: var(--primary-color-2);
    transition: var(--transition-background), var(--transition-border);
    padding: var(--padding-medium);
    box-sizing: border-box;
    cursor: pointer;
    max-width: 1000px;
    user-select: none;
}

.menu-option:hover {
    border-color: var(--secondary-color-1);
    background-color: var(--border-color);
}

.menu-option-title {
    width: 160px;
    font-size:  var(--font-size-medium);
}

.menu-option-label {
    flex: 1;
    font-size: var(--font-size-short);
    margin-left: var(--padding-short);
}

.menu-option .mso {
    font-size: 2.6rem;
}

#profile-container {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    max-width: 860px;
    min-height: 10px;
    background-color: var(--primary-color-2);
    border-radius: var(--border-radius);
    border: var(--border);
    overflow: hidden;
    box-sizing: border-box;
    gap: var(--padding-medium);
}

.profile-bottom {
    padding: var(--padding-short);
    display: flex;
    flex-direction: column;
    gap: var(--padding-short);
}

#profile-bottom-container {
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--padding-short);
    justify-content: center;
    box-sizing: border-box;
}

#profile-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--padding-short);
    flex: 1;
    min-width: 100px;
    max-width: 460px;
}

#profile-inputs > input:not(:disabled) {
    background-color: var(--primary-color-1);
}

.profile-banner {
    width: 100%;
    height: 20vh;
    max-height: 180px;
    object-fit: cover;
}

.profile-photo {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: var(--border);
}

#profile-acquisitions-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    gap: var(--padding-medium);
    background-color: var(--primary-color-1);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: var(--padding-short);
    justify-content: center;
}

.profile-acquisition {
    display: inline-block;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 180px;
    aspect-ratio: 1 / 1;
    position: relative;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: var(--transition-border);
    overflow: hidden;
}

.profile-acquisition > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-acquisition:hover {
    border-color: var(--secondary-color-1);
}

input {
    font-size: var(--font-size-short);
    padding: var(--padding-short);
    background-color: var(--primary-color-2);
    border: var(--border);
    border-radius: var(--border-radius);
    color: white;
    outline: none;
    box-sizing: border-box;
    transition: var(--transition-background), var(--transition-border);
}

input:disabled {
    background-color: transparent;
    border: none;
}

input:hover {
    background-color: var(--border-color);
}

input:focus {
    border-color: var(--secondary-color-1);
}

#container-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-1);
}

#card-container {
    display: flex;
    width: 100%;
    min-height: 400px;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

#card {
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 700px;
    height: 100%;
    justify-content: center;
    padding: var(--padding-short);
    background-color: var(--primary-color-2);
    box-sizing: border-box;
    gap: 20px;
}

#login-title {
    display: flex;
    font-weight: bolder;
    font-size: var(--font-size-long);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

#login-email {
    height: 50px;
    background-color: var(--primary-color-1);
}

#login-password {
    height: 50px;
    background-color: var(--primary-color-1);
}

#login-account {
    display: flex;
    font-size: medium;
    justify-content: center;
    color: var(--secondary-color-1);
    text-decoration: underline;
    cursor: pointer;
}

#login-button {
    height: 50px;
    background-color: var(--secondary-color-1);
    border: none;
    border-radius: var(--border-radius);
    font-size: medium;
    cursor: pointer;
    font-weight: bolder;
}

#signup-title {
    display: flex;
    font-weight: bolder;
    font-size: var(--font-size-long);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

#signup-username {
    height: 50px;
    background-color: var(--primary-color-1);
}

#signup-email {
    height: 50px;
    background-color: var(--primary-color-1);
}

#signup-password {
    height: 50px;
    background-color: var(--primary-color-1);
}

#signup-button {
    height: 50px;
    background-color: var(--secondary-color-1);
    border: none;
    border-radius: var(--border-radius);
    font-size: medium;
    font-weight: bolder;
    cursor: pointer;
}

@media (orientation: portrait) {  
    #card-container {
        background-color: var(--primary-color-2);
        width: 100vw;
        height: 100vh;
    }

    #card{
        border: none;
        background-color: var(--primary-color-2);
        max-width: 500px;
        min-width: none;
        width: 100%;
    }

    #login-title {
        align-items: center;
    }

    #signup-title {
        height: 12%;
    }
}